* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pagination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10vw
}
p {
  margin-bottom: 25px;
}
.pagination-buttons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 25px;
}
li a {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}
.pagination-active {
  border-bottom: 1px solid black;
}
.prev-btn, .next-btn {
  background-color: black;
  color: white;
  padding: 4px 10px;
}